{% extends "webaccountbookapi/base.html" %}
{% load static %}

{% block title %}タイトル！{% endblock %}

{% block content %}
<header>
  <div id="rightparts">
    <p>ようこそ{{ user }}さん</p>
    <p><a href="{% url 'webaccountbookapi:logout' %}">ログアウト</a></p>
  </div>
  <a class="logo" href="{% url 'webaccountbookapi:index'  %}">いい感じのロゴ(固定しない)</a>
  <nav>
    <ul>
      <li>ナビ</li>
      <li>ゲー</li>
      <li>ション</li>
    </ul>
  </nav>
</header>

{% if message %}
<p class="message">{{ message }}</p>
{% endif %}
<div id="monthly_analyze">
  <h2><span class="under_line">{{ this_month }}<span class="small">の</span>家計</span></h2>
  {% if graph %}
    <img src="{{ graph.graph.url }}">
  {% else %}
    <p>まだ家計がありません</p>
  {% endif %}
  <div id="monthly_list">
    <table>
      <tr>
        <th>名前</th>
        <th>ジャンル</th>
        <th>価格</th>
        <th>購入日</th>
      </tr>
      {% for purchase in this_month_purchase_list %}
        <tr>
          <td>{{purchase.name}}</td>
          <td>{{purchase.genre}}</td>
          <td>{{purchase.price}}<span class="small">円</span></td>
          <td>{{purchase.purchase_date.month}} / {{purchase.purchase_date.day}}</td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <table>
      <tr>
        <td><b>総計</b></td>
        <td><b>{{sum_price}}</b><span class="small">円</span></td>
      </tr>
      <tr>
        <td><b>今月残り</b></td>
        <td><b>{{rest_budget}}</b><span class="small">円</span></td>
      </tr>
    </table>

      <p class="sum_price"><span class="space"></span></p>
      <p><span class="space"></span></p>
      <form action="{% url 'webaccountbookapi:update_budget' %}" method="post">
        {% csrf_token %}
        {{site_user_form}}
        <input type="submit" value="更新">
      </form>
  </div>
</div>

<div class="register_purchase">
  <h2><span class="under_line">家計簿<span class="small">に</span>記入</span></h2>
  <form action="{% url 'webaccountbookapi:add_purchase' %}" method="post">
    {% csrf_token %}
    <div class="form_content">
      {% for field in purchase_form %}
        <div class="form_part">
          <p>{{ field.label_tag }}</p>
          {{ field }}
        </div>
      {% endfor %}
    </div>
    <input type="submit" value="登録" class="register_button">
  </form>
</div>

<div class="register_genre">
  <h2><span class="under_line">ジャンル<span class="small">を</span>編集</span></h2>
  <form action="{% url 'webaccountbookapi:add_genre' %}" method="post">
    {% csrf_token %}
    <div class="form_content">
      {% for field in genre_form %}
        <div class="form_part">
          <p>{{ field.label_tag }}</p>
          {{ field }}
        </div>
      {% endfor %}
    </div>
    <input type="submit" value="登録" class="register_button">
  </form>
  <hr>

  <div class="list">
      <ul>
      {% for genre in genre_list %}
        <li>
          {{genre.genre_name}}
          <a href="{% url 'webaccountbookapi:delete_genre' genre.id %}"><button>削除</button></a>
        </li>
      {% endfor %}
      </ul>
  </div>
</div>

<div class="recent_list">
  <h2><span class="under_line">最近の入力</span></h2>
    <table>
      <tr>
        <th>名前</th>
        <th>ジャンル</th>
        <th>価格</th>
        <th>購入日</th>
      </tr>
      {% for purchase in purchase_list %}
        <tr>
          <th>{{purchase.name}}</th>
          <th>{{purchase.genre}}</th>
          <th>{{purchase.price}}</th>
          <th>{{purchase.purchase_date}}</th>
        </tr>
      {% endfor %}
    </table>
</div>

{% endblock %}
