{% extends 'webaccountbookapi/base.html' %}

{% block title %}ウェブカケログイン{% endblock %}

{% block content %}
<header>
  <a class="logo" href="{% url 'webaccountbookapi:index'  %}">いい感じのロゴ(固定しない)</a>
  <h1>いい感じのヒーロー画像</h1>
</header>

  {% if form.errors %}
  <p class="message">そのユーザ名は登録されていません。あたらしく始める場合は新規登録をクリックしてください。</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p class=message>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p class="message">Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <div>
    <form method="post" action="{% url 'webaccountbookapi:login' %}">
      {% csrf_token %}
      <div class="form_content">
        <p>{{ form.username.label_tag }}</p>
        <p>{{ form.username }}</p>
      </div>


      <input type="submit" value="login" class="register_button">
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>

  <p><a href={% url 'webaccountbookapi:create' %}>新規登録</a></p>
{% endblock %}
